/* Variables
 *
 * project settings and common variables */
/* Theme variables */
/* Vendor assets */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
.glider, .glider-contain {
  margin: 0 auto;
  position: relative; }

.glider, .glider-track {
  -webkit-transform: translateZ(0);
          transform: translateZ(0); }

.glider-dot, .glider-next, .glider-prev {
  border: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: 0; }

.glider-contain {
  width: 100%; }

.glider {
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none; }

.glider-track {
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1; }

.glider.draggable {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: -webkit-grab;
  cursor: grab; }

.glider.draggable .glider-slide img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none; }

.glider.drag {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.glider-slide {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  min-width: 150px; }

.glider-slide img {
  max-width: 100%; }

.glider::-webkit-scrollbar {
  opacity: 0;
  height: 0; }

.glider-next, .glider-prev {
  position: absolute;
  background: 0 0;
  z-index: 2;
  font-size: 40px;
  text-decoration: none;
  left: -23px;
  top: 30%;
  cursor: pointer;
  color: #666;
  opacity: 1;
  line-height: 1;
  -webkit-transition: opacity 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67), color 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  -o-transition: opacity 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67), color 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: opacity 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67), color 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67); }

.glider-next:focus, .glider-next:hover, .glider-prev:focus, .glider-prev:hover {
  color: #ccc; }

.glider-next {
  right: -23px;
  left: auto; }

.glider-next.disabled, .glider-prev.disabled {
  opacity: .25;
  color: #666;
  cursor: default; }

.glider-hide {
  opacity: 0; }

.glider-dots {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 0; }

.glider-dot {
  display: block;
  cursor: pointer;
  color: #ccc;
  border-radius: 999px;
  background: #ccc;
  width: 12px;
  height: 12px;
  margin: 7px; }

.glider-dot:focus, .glider-dot:hover {
  background: #ddd; }

.glider-dot.active {
  background: #a89cc8; }

@media (max-width: 36em) {
  .glider::-webkit-scrollbar {
    opacity: 1;
    -webkit-appearance: none;
    width: 7px;
    height: 3px; }
  .glider::-webkit-scrollbar-thumb {
    opacity: 1;
    border-radius: 99px;
    background-color: rgba(156, 156, 156, 0.25);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.25); } }

/* Base styles, reset, normalize etc. */
body {
  font-family: "Montserrat";
  color: #fff;
  background: #2c0cf0;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden; }

:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

.hidden {
  visibility: hidden; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0 3rem;
  height: 100%; }

/* PARTIALS */
.heading {
  text-align: center;
  width: 100%;
  margin-top: 5rem; }
  .heading__name {
    font-size: 3.75rem; }
  .heading__title {
    font-size: 1.25rem;
    letter-spacing: 0.25em; }

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1em;
  font-size: 1.75rem;
  margin-top: 5em; }

.link {
  color: #fff;
  text-decoration: none;
  position: relative;
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }
  .link:after {
    content: "";
    position: absolute;
    top: 45%;
    left: -0.5em;
    width: 100%;
    padding: 0 0.5em;
    height: 4px;
    background-color: #fff;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 150ms cubic-bezier(0.09, 1.12, 0.44, 0.9);
    transition: -webkit-transform 150ms cubic-bezier(0.09, 1.12, 0.44, 0.9);
    -o-transition: transform 150ms cubic-bezier(0.09, 1.12, 0.44, 0.9);
    transition: transform 150ms cubic-bezier(0.09, 1.12, 0.44, 0.9);
    transition: transform 150ms cubic-bezier(0.09, 1.12, 0.44, 0.9), -webkit-transform 150ms cubic-bezier(0.09, 1.12, 0.44, 0.9); }
  .link:hover:after {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1); }
  .link:focus {
    text-shadow: 2px 8px 9px rgba(0, 0, 0, 0.5), 0px -5px 35px rgba(255, 255, 255, 0.5);
    outline: none; }

.btn--link {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: #fff;
  background: none;
  cursor: pointer; }

.image {
  height: auto;
  max-width: 100%;
  display: block; }
  @media screen and (max-width: 720px) {
    .image {
      height: 100%;
      width: auto; } }
  .image--preview:hover + .image__popover {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 300ms ease;
    -o-transition: opacity 300ms ease;
    transition: opacity 300ms ease; }
    @media screen and (max-width: 720px) {
      .image--preview:hover + .image__popover {
        display: none; } }
  .image__popover {
    opacity: 0;
    visibility: hidden;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 33%;
    margin: 2em;
    border: solid #2c0cf0 4px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    overflow: hidden; }

.modal {
  position: fixed;
  display: table;
  height: 75%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  z-index: 1;
  background: #f45427; }
  @media screen and (max-width: 1000px) {
    .modal {
      font-size: 75%; } }
  .modal[aria-hidden="true"] .modal__body {
    -webkit-animation: fadeOut 400ms ease-in;
            animation: fadeOut 400ms ease-in; }
  .modal__body {
    height: 100%;
    overflow-y: auto; }
  .modal.is-open {
    -webkit-transform: scaleY(0.01) scaleX(0);
        -ms-transform: scaleY(0.01) scaleX(0);
            transform: scaleY(0.01) scaleX(0);
    -webkit-animation: unfoldIn 800ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            animation: unfoldIn 800ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
    .modal.is-open .modal__dialog {
      animation: fadeOut 400ms 800ms reverse forwards; }
  .modal__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    padding: 3em;
    position: relative; }
    @media screen and (max-width: 720px) {
      .modal__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .modal__dialog {
    opacity: 0;
    height: 100%; }
  .modal__close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2rem;
    background: transparent;
    border: none;
    color: #2c0cf0;
    font-size: 3.5em;
    font-family: inherit;
    z-index: 2;
    cursor: pointer; }
    .modal__close:hover, .modal__close:focus {
      text-shadow: 2px 8px 9px rgba(0, 0, 0, 0.4), 0px -5px 35px rgba(255, 255, 255, 0.5);
      outline: none; }
  .modal__image-container {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding: 0 2em;
    overflow-y: auto; }
    @media screen and (max-width: 720px) {
      .modal__image-container {
        -ms-flex-preferred-size: 40%;
            flex-basis: 40%;
        max-height: 50vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        overflow-x: auto;
        padding: 0;
        margin-top: 4em; } }
  .modal__image {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding: 0.25rem 0;
    min-width: 9em; }
    @media screen and (max-width: 720px) {
      .modal__image {
        height: 100%;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto;
        margin-right: 0.5em; }
        .modal__image:last-child {
          margin-right: 0; } }
  .modal__text-container {
    width: 100%;
    padding-left: 4em;
    font-size: 1.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media screen and (max-width: 1250px) {
      .modal__text-container {
        font-size: 125%; } }
    @media screen and (max-width: 1000px) {
      .modal__text-container {
        font-size: 200%; } }
    @media screen and (max-width: 720px) {
      .modal__text-container {
        font-size: 100%;
        padding-left: 0; } }
  .modal__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
    @media screen and (max-width: 720px) {
      .modal__text {
        font-size: 200%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .modal__title {
    font-size: 4em;
    width: 100%;
    text-align: left;
    margin: 0;
    padding: 0.5em 0; }
  .modal__description {
    line-height: 1.2;
    padding-right: 4em;
    margin-bottom: 1rem; }
    @media screen and (max-width: 1250px) {
      .modal__description {
        padding-right: 3em; } }
    @media screen and (max-width: 720px) {
      .modal__description {
        padding-right: 0; } }
  .modal__tech {
    max-width: 4em;
    font-size: 0.75em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #2c0cf0;
    text-transform: lowercase;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
    @media screen and (max-width: 720px) {
      .modal__tech {
        max-width: unset; } }
    .modal__tech span {
      line-height: 1;
      padding: 0.25em 0; }
      @media screen and (max-width: 720px) {
        .modal__tech span {
          white-space: nowrap;
          margin-right: 1em; } }
    @media screen and (max-width: 720px) {
      .modal__tech {
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; } }
  .modal__links {
    margin-top: auto;
    margin-bottom: 2em;
    padding-right: 4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%; }
    @media screen and (max-width: 720px) {
      .modal__links {
        margin-top: 2em;
        font-size: 125%;
        -webkit-box-pack: left;
            -ms-flex-pack: left;
                justify-content: left; }
        .modal__links > * {
          margin-right: 2em; } }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes unfoldIn {
  0% {
    -webkit-transform: scaleY(0.005) scaleX(0);
            transform: scaleY(0.005) scaleX(0); }
  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
            transform: scaleY(0.005) scaleX(1); }
  100% {
    -webkit-transform: scaleY(1) scaleX(1);
            transform: scaleY(1) scaleX(1); } }

@keyframes unfoldIn {
  0% {
    -webkit-transform: scaleY(0.005) scaleX(0);
            transform: scaleY(0.005) scaleX(0); }
  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
            transform: scaleY(0.005) scaleX(1); }
  100% {
    -webkit-transform: scaleY(1) scaleX(1);
            transform: scaleY(1) scaleX(1); } }

@-webkit-keyframes unfoldOut {
  0% {
    -webkit-transform: scaleY(1) scaleX(1);
            transform: scaleY(1) scaleX(1); }
  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
            transform: scaleY(0.005) scaleX(1); }
  100% {
    -webkit-transform: scaleY(0.005) scaleX(0);
            transform: scaleY(0.005) scaleX(0); } }

@keyframes unfoldOut {
  0% {
    -webkit-transform: scaleY(1) scaleX(1);
            transform: scaleY(1) scaleX(1); }
  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
            transform: scaleY(0.005) scaleX(1); }
  100% {
    -webkit-transform: scaleY(0.005) scaleX(0);
            transform: scaleY(0.005) scaleX(0); } }

.works {
  margin-top: auto;
  text-align: center;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  -webkit-transform: translateY(70%);
      -ms-transform: translateY(70%);
          transform: translateY(70%);
  -webkit-transition: -webkit-transform 150ms ease-in-out;
  transition: -webkit-transform 150ms ease-in-out;
  -o-transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out; }
  .works__carousel {
    opacity: 0; }
  .works .btn--show-works {
    margin-bottom: 1em;
    opacity: 0.8; }
    .works .btn--show-works:before {
      content: "\25B2";
      display: block;
      font-size: 0.75em;
      padding-bottom: 0.5em;
      -webkit-transition: -webkit-transform 500ms ease-out;
      transition: -webkit-transform 500ms ease-out;
      -o-transition: transform 500ms ease-out;
      transition: transform 500ms ease-out;
      transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
      -webkit-transition-delay: 400ms;
           -o-transition-delay: 400ms;
              transition-delay: 400ms; }
    .works .btn--show-works:hover, .works .btn--show-works:focus {
      opacity: 1; }
  .works.show {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }
    .works.show .works__carousel {
      opacity: 1; }
    .works.show .btn--show-works span {
      opacity: 0; }
    .works.show .btn--show-works:before {
      opacity: 1;
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }

.project {
  position: relative;
  margin: 1em;
  max-height: 100%; }
  .project__image {
    max-height: 100%;
    opacity: 0; }
  .project__title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .project__title-inner {
      position: relative;
      text-align: center; }
    .project__title-deco {
      position: absolute;
      color: #f45427;
      top: 10px;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
      height: 100%;
      opacity: 0; }
      .project__title-deco svg {
        height: 100%;
        width: 100%; }
      .project.is-active .project__title-deco {
        opacity: 1; }
    .project__title-text {
      -webkit-text-stroke: 1px #fff;
      -webkit-text-fill-color: transparent;
      color: transparent;
      z-index: 2;
      font-size: 2em;
      margin: 0;
      padding: 0 0.5em; }
      .project.is-active .project__title-text {
        -webkit-text-stroke: initial;
        -webkit-text-fill-color: initial;
        color: white; }
  .project:hover .project__title-text, .project:focus-within .project__title-text {
    -webkit-text-stroke: initial;
    -webkit-text-fill-color: initial;
    color: white; }
  .project:hover .project__image, .project:focus-within .project__image {
    opacity: 1;
    -webkit-filter: brightness(0.7);
            filter: brightness(0.7); }
    @media screen and (max-width: 720px) {
      .project:hover .project__image, .project:focus-within .project__image {
        display: none; } }
