.heading {
  text-align: center;
  width: 100%;
  margin-top: 5rem;
  font-size: 1rem;
  @media screen and (max-width: $bp-mobile) {
    font-size: 0.75rem;
    margin-top: 2em;
  }
  &__name {
    font-size: 3.75em;
  }
  &__title {
    font-size: 1.25em;
    letter-spacing: 0.25em;
  }
}
