@include scrollbars(16px, 5px, 16px, #babac0, #a0a0a5, #fff, #f4f4f4);

.main-content {
	position: relative;
}

// Fix to use with fullpage.js plugin, in order to crop content, which doesn't fit at page height
.section-wrapper {
	height: inherit;
}

.section-header {
	font-size: 3em;
	line-height: 2;
	color: $secondary-light;
	font-weight: 900;
	text-transform: uppercase;
  height: $section-heading-height;
  @include media-breakpoint-down(sm) {
    	font-size: 2em;

  }
}

.section-content {
	position: relative;
	height: calc(100% - #{$section-heading-height});
}

// .section-content:before {
// 	content: '';
// 	position: absolute;
// 	z-index: 0;
// 	top: map-get($spacers, 2);
// 	left: 0;
// 	border-top: solid $corner-thickness $primary;
// 	border-left: solid $corner-thickness $primary;
// 	height: $corner-length;
// 	width: $corner-length;
// 	display: none;
// 	@include media-breakpoint-up(md) {
// 		display: block;
// 	}
// }

// .section-content:after {
// 	content: '';
// 	position: absolute;
// 	z-index: 0;
// 	bottom: map-get($spacers, 2);
// 	right: 0;
// 	border-bottom: solid $corner-thickness $primary;
// 	border-right: solid $corner-thickness $primary;
// 	height: $corner-length;
// 	width: $corner-length;
// 	display: none;
// 	@include media-breakpoint-up(md) {
// 		display: block;
// 	}
// }

.section-content-wrapper {
	z-index: 1;
	position: relative;
}

.portfolio-container {
	overflow: hidden;
}
