.list-centered {
	li {
		&:after {
			content: '';
			display: block;
			width: 25%;
			height: 2px;
			background-color: $primary;
			margin: map-get($spacers, 3) auto;
			@include media-breakpoint-down(xs) {
				width: 5%;
			}
		}
		&:last-child:after {
			display: none;
		}
	}
}

.contacts-list {
	i {
		font-size: 1.25em;
	}
}

ul.unordered-list > li {
	&:before {
		content: '';
		margin-right: map-get($spacers, 3);
		@include dot;
	}
}
