// Override body attributes inserted by fullpage plugin
body.modal-open {
	overflow: hidden !important;
}

.modal {
	padding-right: 0 !important; //override bootstrap native size adjustment
}

.modal.fade {
	opacity: 1;
}

.modal.fade .modal-dialog {
	-webkit-transform: translate(0);
	-moz-transform: translate(0);
	transform: translate(0);
}

.modal-title-wrapper {
	text-align: center;
	width: 50%;
}

.modal-title {
	white-space: normal;
}

.project-subtitle {
	font-size: 115%;
	font-style: italic;
}

.project-spec {
	font-size: $font-size-sm;
}
