//-====================
//- Modal with portfolio data
//-====================
mixin modal(project)
  .modal(id="projectModal" aria-hidden=true)
    .modal__body(tabindex="-1" data-micromodal-close)
      .modal__background 
        //- include ./svg-bg.svg //simple version
      .modal__dialog(role="dialog" aria-modal="true" aria-labelledby="projectModal-title")
        .modal__content(id="modalContent")
        button.modal__close(aria-label="Close modal" data-micromodal-close) X
