//-====================
//- Item in portfolio grid
//-====================
mixin portfolio-item(project)
  - var id = project.title.replace(/\s+/g, '-').toLowerCase();
  - var col = locals.vars.columns;
  - var asp = locals.vars.defaultAspectRatio;

  figure.project
    //- .project__image-container
    if project.images.length === 0
      +no-image()
    else
      //- +img(project.images[0].url.toLowerCase(), project.images[0].alt, sizesGrid).projecct__image
      .project__title
        button.project__title-inner.btn--link(data-micromodal-trigger="projectModal" data-project=id)
          .project__title-deco
            include ../../assets/deco-stroke.svg
          h3.project__title-text= project.title
      img(src=project.images[0].url.toLowerCase(), alt=project.images[0].alt).project__image
      
mixin portfolio-item-dummy()
  .project.hidden