mixin section(id, title)
	section.section.fp-auto-height-responsive.text-center(id=id)
		.section-wrapper.mx-4
			if title
				h2.section-header.mb-0.pt-6=title
				.section-content.p-1.-md-3
					.section-content-wrapper.container-fluid.h-100&attributes(attributes)
						block
			else
				.section-content-wrapper.container-fluid.h-100&attributes(attributes)
					block
