@mixin dot($size: $dotsize) {
	height: $size;
	width: $size;
	background-color: $primary;
	border: solid 2px $white;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	box-shadow: 0px 0px 0 2px $primary;
	vertical-align: baseline;
}
