.wrapper {
	background-color: $light;
}

.no-image {
	position: relative;
	width: 100%;
	background-color: $secondary-light;
	box-shadow: 1px 1px 5px $secondary inset;
	height: 0;
	padding-bottom: 66.66%; //hack to achieve 2:3 aspect ratio
	font-size: $display2-size;
	color: $primary;

	.placeholder {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		right: 0;
	}
}

.text-hover-white {
	&:not(:disabled):not(.disabled) {
		&:hover, &:active {
		color: $white;
	}
	}
}

// @include media-breakpoint-down(xs) { ... }
// @include media-breakpoint-down(sm) { ... }
// @include media-breakpoint-down(md) { ... }
// @include media-breakpoint-down(lg) { ... }