body {
  font-family: "Montserrat";
  color: $color-text;
  background: $color-bg;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

:root {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

.hidden {
  visibility: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 3rem;
  height: 100%;
}
