-
	var sizes100 = [
		"100vw"
	];
	var sizes33 = [
		"33vw"
	];
	var sizes60 = [
		"(min-width: 720px) 60vw, 100vw"
	];
	
	var sizesGrid = (function getGrid(breakpoints, columns) {
		// From breakpoints and column objects we create a new object, 
		// where number of columns correspond to each width of screen
		var colBreaks = Object.keys(breakpoints).reduce(function(acc, curr, index, arr) {
			if (columns.hasOwnProperty(curr)) {
				acc[columns[curr]] = breakpoints[curr]
			} 			
			return acc;
		}, {});
		var minCols = Math.min(...Object.keys(colBreaks))
		sizeDefault = colBreaks['1'] ? `${Math.round(100/minCols)}vw` : '100vw'
		return Object.keys(colBreaks).filter(k => k!=minCols).map(function(col) {
			if( col==1)  {
				return `${Math.round(100/col)}vw`
			}
			return `(min-width: ${colBreaks[col]}px) ${Math.round(100/col)}vw`
		}).join() + ', ' + sizeDefault;
	}(locals.vars.breakpoints, locals.vars.columns))