include abstracts/functions.pug
include abstracts/vars.pug
include abstracts/mixins.pug
include partials/portfolio-item.pug
include partials/modal.pug
include partials/projectTemplate.pug

doctype html
html(lang='en')
  head
    .
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-PZF9YVF7GR"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-PZF9YVF7GR');
      </script>
    meta(charset='UTF-8')
    title Irina Illustrova - Front End Developer
    meta(name='description', content='Front End developer Irina Illustrova -  portfolio and personal page')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    base(href="/")
    //-Fonts
    //- link(href="https://fonts.googleapis.com/css?family=Lato:400,400i,700|Raleway:600,900", rel="stylesheet")
    //-Stylesheets
    link(rel='stylesheet', href=`/css/${styleName}.css`)
    //- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css")
    
  body
    .container
      header
        h1.heading
          .heading__name Irina Illustrova
          .heading__title freelance front-end developer
      section.links 
        +a("www.linkedin.com/in/illustrova").link linkedin
        +a("https://github.com/Illustrova").link github
        +a("mailto://illustrova@gmail.com").link email
      
      section.works
        button.btn--link.btn--show-works(aria-label="show works")
          span works
        .works__carousel
          each project in locals.content.portfolio
            +portfolio-item(project)
            
    each project in locals.content.portfolio
      +projectTemplate(project)
    +modal()
    script(src=`js/${scriptName}.js` defer)