// @debug $primary;


//Override bootstrap values
$container-max-widths: (
	sm: map-get($breakpoints, s) + 0px,
	md: map-get($breakpoints, m) + 0px,
	lg: map-get($breakpoints, l) + 0px,
	xl: map-get($breakpoints, xl) + 0px
);
//Colors
$body-bg: #f7f7f7;
$body-color: #212529;;

$primary: #ff724c;
$secondary:#888888;
$light: #ffffff;
$secondary-light: #eeeeee;
$theme-colors: (
	"primary": $primary,
	"secondary": $secondary,
	"secondary-light": $secondary-light,
	"light": $light,
	"main": $body-color
);
@debug $primary;
$nav-link-disabled-color: $secondary-light;
// $component-active-bg:         theme-color("primary");

$border-radius: 3px;
//Typography
$font-family-base: "Lato";
$headings-font-weight:        600;
//$headings-line-height:        1.2 !default;

$headings-color: $secondary;

$headings-font-family: 'Raleway';

//Typography
$font-size-base: 1rem;
$h1-font-size:                $font-size-base * 1.5;
// @debug $h1-font-size;
$h2-font-size:                $font-size-base * 1;
// $h3-font-size:                $font-size-base * 1.75 !default;
// $h4-font-size:                $font-size-base * 1.5 !default;
// $h5-font-size:                $font-size-base * 1.25 !default;
// $h6-font-size:                $font-size-base !default;

//TODO Navbar light redefinition
// $navbar-light-color:                rgba($black, .5) !default;
// $navbar-light-hover-color:          rgba($black, .7) !default;
// $navbar-light-active-color:         rgba($black, .9) !default;
// $navbar-light-disabled-color:       rgba($black, .3) !default;
// $navbar-light-toggler-icon-bg:      str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;
// $navbar-light-toggler-border-color: rgba($black, .1) !default;

// //Grid
// $grid-columns:                12 !default;
$grid-gutter-width:           8px;

//Add spacer
$spacer: 1rem;
$spacers: ();
$spacers: map-merge((
	0: 0,
	  1: ($spacer * .25),
	  2: ($spacer * .5),
	  3: $spacer,
	  4: ($spacer * 1.5),
	5: ($spacer * 3),
	6: ($spacer * 5),
	7: ($spacer * 7.5)
), $spacers);


$spacers: map-merge((
	0: 0,
	  1: ($spacer * .25),
	  2: ($spacer * .5),
	  3: $spacer,
	  4: ($spacer * 1.5),
	5: ($spacer * 3),
	6: ($spacer * 5),
	7: ($spacer * 7.5)
), $spacers);


$spacers: map-merge((
	0: 0,
	1: ($spacer * .25),
	2: ($spacer * .5),
	3: $spacer,
	4: ($spacer * 1.5),
	5: ($spacer * 3),
	6: ($spacer * 5),
	7: ($spacer * 7.5)
), $spacers);

// $sizes: () !default;
$sizes: (
	10: 10%,
	15: 15%,
	85: 85%,
	90: 90%
);

@debug $sizes;
// Links
//
// Style anchor elements.

// $link-color:                theme-color("primary");
// $link-hover-color:          darken($link-color, 15%);

//CUSTOM VARIABLES
$corner-thickness: 5px;
$corner-length:  100px;
$corner-thickness-sm: 3px;
$corner-length-sm:  30px;

//FULL SCREEN MODALS https://github.com/keaukraine/bootstrap4-fs-modal/
// ;

//Modals
$close-font-size:  2.5rem;

//Carousel
 $carousel-indicator-active-bg: rgba(255, 255, 255, 0.7);

 //Nav pills
 $nav-link-padding-y: .125rem;
 $nav-link-padding-x: .75rem;

 //Forms
$input-btn-focus-width: 0;
$input-focus-border-color: $primary;