a {
    color: blue;
}

//External sources and variables
@import '../data/variables.json';
// @import '../data/images.json'
// @import 'abstracts/variables.sass'
// Bootstrap - required modules
//Theme variables
// Bootstrap - optional modules
//@import 'node_modules/bootstrap/scss/reboot';
// @import 'node_modules/bootstrap/scss/type';
// @import 'node_modules/bootstrap/scss/grid';
//@import 'vendor/bootstrap-4.0.0/scss/text-emphasis';
//@import 'vendor/bootstrap-4.0.0/scss/type';
@import 'abstracts/theme';
// @debug $iconWidth;
@import 'vendor/bootstrap-4.0.0/scss/functions';
@import 'vendor/bootstrap-4.0.0/scss/variables';
@import 'vendor/bootstrap-4.0.0/scss/mixins';
@import 'vendor/bootstrap-4.0.0/scss/bootstrap';
// @import 'node_modules/bootstrap/scss/grid';
//Other libs
@import 'vendor/fullscreen-modal';
@import 'vendor/shuffle-styles';
// Fullpage.js
@import '../../node_modules/fullpage.js/dist/fullpage.min';
@import '../../node_modules/simplebar/dist/simplebar';
//Helpers
//Mixins
//Basic settings
@import "base/base.scss";
@import "base/elements.scss";
@import "base/typography.scss";
//Partials
@import 'partials/layout';
@import 'partials/navbar';
@import 'partials/portfolio-item';
@import 'partials/unordered-list';
@import 'partials/carousel';
@import 'partials/modal';
// @import 'partials/section-works';
.modal.fade {
    opacity: 1;
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    transform: translate(0);
}